<h2>Add a Dealership</h2>

<form action="/shops" method="post">
  <div class="wrapper">

    <div class="form-element">
      <label for="dealer-name">Dealership Name</label>
      <input type="text" name="name" id="dealer-name">
    </div>

    <br>

    <div class="form-element">
      <label for="till">Starting Cash</label>
      <input type="number" name="till" id="shop-till">
    </div>

    <br>

    <div class="submit">
      <input type="submit" value="Add the Dealership">
    </div>

  </div>
</form>
