<h2>Add a Dealership</h2>
<form action="/shops" method="post">

  <label for="dealer-name">Dealership Name</label>
  <input type="text" name="name" id="dealer-name">
 <br>
  <label for="till">Starting Cash</label>
  <input type="number" name="till" id="shop-till">
 <br>
  <input type="submit" value="Add the Dealership">


</form>
