<hr>
  <h2></h2>
<hr>
  <p>Dealership Name: <%= @shop.name %></p>
<hr>
  <p>Dealer Cash: <%= @shop.till %></p>
  <a href="/shops/<%= @shop.id %>/edit">Edit Dealership Details</a>
<hr>
  <form action="/shops/<%= @shop.id %>/delete" method="post">
    <input type="submit" value="Delete Dealership">
</form>
