.form {
  align-self: center;
  width: 80%;
  border: 1px solid green;
  border-radius: 5%;
  margin: 3px;
  padding: 5px;
  background-color: papayawhip;
  text-align: center;
}
.form-element {
  width: 100%;
  align-items: center;
}

.wrapper {
  background-color: papayawhip;
  border-radius: 5px;
  border: 3px solid blue;
  padding: 5px;
  margin: 3px;
}
