td, th {
  text-align: center;
  padding: 5px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

th{
  border-bottom: 1px solid black;
}

.table {
  margin: 10px;
  border: 2px solid blue;
  border-collapse: collapse;
  background-color: papayawhip;
  border-radius: 25px;
}

/* nothing is the tag Name
.thing is the CLASS
#thing is the id */
