td, th {
  text-align: center;
  padding: 3px;
  border: 1px solid black;
}

/* th{
  border-bottom: 1px solid black;
} */

.table {
  margin-top: 15px;
  margin-left: 5px;
  padding: 7px;
  border: 2px solid blue;
  border-collapse: collapse;
  background-color: papayawhip;
  border-radius: 25px;
}

/* nothing is the tag Name
.thing is the CLASS
#thing is the id */
