<h1>Cars in Stock</h1>

<p class="btn">
<a class="btn--action" href="/cars/new">Add a new car!</a>
</p>

<ul>
  <% for car in @cars %>
  <li>
    <p><%= car.make %></p>
    <p><%= car.model %></p>
    <p>£<%= car.price %></p>
    <p><a href="/cars/<%= car.id %>">View Car</a></p>
  </li>
  <% end %>
</ul>
