<h1>All Customers</h1>
  <div class="btn">
    <a class="btn--action" href="/customers/new">Add a new customer!</a>
  </div>

<div class="table">
  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Previous Brand</th>
    </tr>
    <% for customer in @customers %>
    <tr>
      <td><a href="/customers/<%= customer.id %>"><%= customer.id %></a></td>
      <td><%= customer.name %></td>
      <td><%= customer.previous_brand %></td>
    </tr>
    <% end %>
  </table>
</div>
