<h2>All Customers</h2>
<form action="/customers" method="post">

<label for="customer-name">Name</label>
<input type="text" name="name" id="customer-name">
<br>
<label for="customer-budget">Budget</label>
<input type="number" name="budget" id="customer-budget" max="1000000">
<br>
<label for="customer-email">Contact Email</label>
<input type="text" name="email" id="customer-email">
<br>
<label for="previous-brand">Previous Brand</label>
<input type="text" name="previous_brand" id="previous-brand">
<br>
<input type="submit" value="Add the Customer">
</form>
